body{
    background: #F5F4F2;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: block;
    padding: 50px 60px;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.accordion-header {
    background-color: #f0f0f0;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 40px;
    font-weight: 500;
    transition: background-color 2s ease-out 100ms
}

.accordion-header:hover {
    background-color: #ccc;
}

.accordion-content {
    display: none;
    padding: 40px;
}
.header-content {
    display: flex;
    justify-content: space-between;
}

/* colors accordion */
.blue {
    background-color: #1184D1;
}

.blue-dark {
    background-color: #0777C2;
}

.orange {
    background-color: #EF8451;
}

.orange-dark {
    background-color: #EA6419;
}

/* fin colors accordeion */

.title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 80px;
}

.desc-bold {
    font-size: 27px;
    font-weight: 500;
    display: block;
    margin-bottom: 80px;
    width: 320px;

}

.accordion-content p {
    font-weight: 400;
    font-size: 16px;
    width: 380px;
    margin-bottom: 30px;
    color: #CCEAFF;
}


.accordion-content p::before {
    content: "";
    display: block;
    width: 390px;
    height: 2px;
    background-color: #C4C4C480;
    margin-bottom: 15px;
}
/* logos */

.logos {
    margin: 70px 0 60px;
}

/* article */
.title {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 40px;
}

.title span {
    margin-right: 14px;
}

.title span img {
    display: block;
    max-width: 100%;
}

.title h2 {
    font-size: 16px;
    color: #0777C2;
    font-weight: 500;
}

.card {
    display: flex;
    flex-direction: column;
}

.img img:hover, .img-cap:hover {
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 26%);
    -webkit-box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 26%);
    -moz-box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 26%);
}

.img img {
    border-radius: 10px;
    max-width: 100%;
}

.img {
    margin-bottom: 20px;
}

.desc-card {
    font-size: 27px;
    font-weight: 500;
    width: 330px;
    margin-bottom: 20px;
}

.desc-cardCap {
    font-size: 20px;
    font-weight: 500;
    width: 270px;
    margin-bottom: 20px;
}

.btn-card {
    margin-right: 30px;
    background-color: #00A3FF;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 6px;
    display: inline-flex;
    border-radius: 20px;
}

.card-date {
    font-size: 13px;
    font-style: italic;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    width: 260px;

}

.card-desc {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    width: 230px;
}

.img-cap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0;
    border-radius: 10px;
    width: 280px;
    height: 200px;
    margin-bottom: 20px;
}


/* swiper custom style */

.articleSwiper .swiper-slide {
    width: auto !important;
}

@media screen and (max-width:768px) {
    .wrapper {
        padding: 10px;
    }
}